<p>
  <strong>Descripcion:</strong>
  <%= @prestamo.devolucione.descripcion %>
</p>

<p>
  <strong>Fechadevolucion:</strong>
  <%= @devolucione.fechaDevolucion %>
</p>

<p>
  <strong>Prestamo:</strong>
  <%= @devolucione.prestamo %>
</p>
